@font-face {
    src: url(../fonts/Poppins-SemiBold.ttf);
    font-family: poppins;
}

@font-face {
    src: url(../fonts/Inter-Regular.ttf);
    font-family: inter;
}

@font-face {
    src: url(../fonts/Montserrat-Bold.ttf);
    font-family: mont;
}

:root {
    --primary-color: #0045ff;
    --text-color: #fff;
    --text-grey: #d8d8d8d8;
    --grey-color: #26292B;
    --black-color: #111;
    --light-black: #15151a;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: var(--light-black);
}

::-webkit-scrollbar-thumb {
    background: radial-gradient(ellipse at bottom, #0045ff 0%, #3f0581 100%);
    border-radius: 10px;
}

::selection {
    background: transparent;
}

/* index */

main {
    padding-top: 100px;
}

.bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse at bottom, #182b42 0%, #0c0d13 100%);
    z-index: -1000;
}

.bg img {
    object-fit: cover;
    width: 100%;
    z-index: -1000;
}

.text:hover {
    cursor: default;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.transition {
    transition-duration: 1s;
}

.separator {
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 40px 0;
    border-radius: 10px;
}

@keyframes revealAnimation {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

/*navbar*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    backdrop-filter: blur(3px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.nav-menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 20px 0;
}

.nav-logo {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.nav-logo img {
    width: 125px;
    padding: 10px 0 0 10px;
}

.nav-menu .nav-link {
    text-decoration: none;
    font-size: 18px;
    font-family: poppins;
    color: var(--text-color);
    transition: all 500ms ease;
    margin: 0 8px;
}

.nav-menu .nav-link:hover {
    color: #008cff;
    cursor: pointer;
}

.nav-menu .nav-link:last-child {
    margin-right: 40px;
    padding: 6px 10px;
    border: 2px solid #8a817c;
    border-radius: 8px;
}

.nav-menu .nav-link:last-child:hover {
    background-color: #0045ff;
    border: 2px solid #0045ff;
    color: var(--text-color);
}

.nav-menu .home {
    color: var(--text-grey);
    font-size: 22px;
    margin-right: 20px;
    padding: 0.3rem 0.6rem;
    transition: all 500ms ease;
}

.nav-menu .home:hover {
    cursor: pointer;
    color: var(--text-color);
    background-color: rgb(30 41 59/1);
    border-radius: 0.5rem;
}

/* index */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: revealAnimation 2s forwards;
}

.hero-left {
    display: flex;
    align-items: left;
    flex-direction: column;
    margin: 0 0 0 10vh;
}

.hero h1 {
    font-family: mont;
    color: #006eff;
    font-size: 40px;
    position: absolute;
    top: 33%;
}

.hero h1:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #006eff;
}

.hero h1:nth-child(2) {
    color: #006eff;
    animation: heroTitleAnimate 5.5s ease-in-out infinite;
}

@keyframes heroTitleAnimate {

    0%,
    100% {
        clip-path: polygon(0% 45%,
                16% 44%,
                33% 50%,
                54% 60%,
                70% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%);
    }

    50% {
        clip-path: polygon(0% 60%,
                15% 65%,
                34% 66%,
                51% 62%,
                67% 50%,
                84% 45%,
                100% 46%,
                100% 100%,
                0% 100%);
    }
}

.hero p {
    font-family: inter;
    color: var(--text-grey);
    font-size: 15px;
    margin: 0 0 20px 0;
}

.joinbutton {
    margin: 0 0 10px 0;
    padding: 10px 20px;
    width: 50%;
    border: none;
    border-radius: 5px;
    font-family: poppins;
    font-size: 18px;
    color: #2c9caf;
    transition: all 500ms ease;
    position: relative;
    overflow: hidden;
    outline: 2px solid #2c9caf;
    background: transparent;
}

.joinbutton:hover {
    cursor: pointer;
    color: #ffffff;
    outline: 2px solid #2c9caf;
    box-shadow: 4px 5px 17px -4px #2c9caf;
}

.joinbutton::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #2c9caf;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}

.joinbutton:hover::before {
    width: 250%;
}

.hero-left .stats {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 40px;
}

.hero-left .stats article {
    border-left: 3px solid #006eff;
    margin: 20px 0 0 5px;
}

.hero-left .stats article h6 {
    margin: 5px 0 0 10px;
    font-size: 20px;
    font-family: mont;
    color: var(--text-color);
}

.hero-left .stats article p {
    margin: 5px 0 5px 10px;
    font-size: 13px;
    font-weight: 600;
}

.hero-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 10vh 0 0;
}

#slideshow {
    margin: 10vh 20px 10px 0;
}

#slideshow .slide {
    display: none;
    width: 600px;
    height: 350px;
    border-radius: 20px;
    object-fit: cover;
    animation: slideshowFadeIn 1s both;
    cursor: pointer;
}

#slideshow .active {
    display: flex;
}

@keyframes slideshowFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.point {
    width: 13px;
    height: 10px;
    background: #fff;
    opacity: 0.2;
    border-radius: 20px;
    display: inline-block;
    margin: 0 5px;
    transition: all 500ms ease;
}

#navigation .active {
    width: 100px;
    opacity: 1;
}

/*Goals*/

.goals {
    display: flex;
    align-items: center;
    margin: 20vh 0 10vh 10vh;
    animation: revealAnimation 2s forwards;
}

.goals .goals-illust {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.goals .goals-illust img {
    width: 300px;
}

.goals .goal-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: radial-gradient(ellipse at top, #0045ff 0%, #006eff 100%);
    padding: 10px 20px;
    border-radius: 15px;
}

.goals .goal-item h6 {
    font-family: mont;
    color: rgb(241, 241, 241);
    font-size: 20px;
}

.goals .goal-item .goal {
    font-family: inter;
    color: var(--text-grey);
    font-size: 16px;
    margin: 10px 0 0 0;
}

.goals .goal-item .jauge-container {
    width: 250px;
    height: 20px;
    border: 1px solid #b0ceb1;
    overflow: hidden;
    margin: 20px 0 10px 0;
    border-radius: 15px;
}

.goals .goal-item .jauge {
    height: 100%;
    width: 0%;
    background-color: #4CAF50;
    transition: all 1.5s ease-in;
}

/* Footer */

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5vh;
}

.footer-right img {
    width: 100px;
}

.footer-right p {
    color: var(--text-grey);
    font-family: inter;
    font-size: 13px;
    width: 250px;
    margin: 5px 0 10px 5px;
}

.footer-right .socials i {
    color: var(--text-grey);
    font-size: 20px;
    padding: 0.5rem;
    transition: all 500ms ease;
}

.footer-right .socials i:hover {
    cursor: pointer;
    background-color: rgb(30 41 59/1);
    border-radius: 0.25rem;
}

.footer-center {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 120px;
}

.footer-center p {
    color: var(--text-grey);
    font-family: inter;
    font-weight: 400;
    font-size: 10px;
}

.footer-center span {
    cursor: pointer;
}

.footer-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.footer-left .footer-rooter {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-left .footer-rooter h6 {
    font-family: poppins;
    color: var(--text-color);
    font-size: 16px;
}

.footer-left .footer-roots {
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 0;
}

.footer-left .footer-roots a {
    color: var(--text-grey);
    font-family: inter;
    font-weight: 400;
    font-size: 14px;
    margin: 5px 0;
    transition: all 500ms ease;
}

.footer-left .footer-roots a:hover {
    cursor: pointer;
    color: var(--text-color);
}