@font-face {
    src: url(../fonts/Poppins.ttf);
    font-family: poppins;
}

@font-face {
    src: url(../fonts/Inter.ttf);
    font-family: inter;
}

:root {
    --primary-color: #e5989b;
    --text-white: #fff;
    --text-grey: #d8d8d8;
    --light-black: #15151a;
    --light-blue: #4182aa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
    background: #26292B;
}

::-webkit-scrollbar-thumb {
    background: radial-gradient(ellipse at center, #023e8a 0%, #13344d 100%);
    border-radius: 4px;
}

.bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
    z-index: -1000;
}

.bg img {
    object-fit: cover;
    width: 100%;
    z-index: -1000;
}

canvas {
    transition: background 2s;
    width: 100vw;
    height: 100vh;
    cursor: pointer;
    position: absolute;
    top: 0%;
    z-index: -999;
    cursor: default;
}

.transition {
    transition-duration: 1s;
}

.text:hover {
    cursor: default;
    -moz-user-select: none;
    /* Firefox */
    -webkit-user-select: none;
    /* Chrome, Safari, Opera since version 15 */
    -ms-user-select: none;
    /* Internet explorer since version 10 & Edge */
    user-select: none;
    /* Standart property */
}

.separator {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 10px 0 10px 0;
}

#returnhome:hover {
    cursor: pointer;
}

#returnhome i {
    font-size: 40px;
    color: #fff;
}

.returnhome {
    margin: 25px;
}

.home {
    overflow: hidden;
}

.line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    background: transparent;
    overflow: hidden;
}

.line::after {
    content: '';
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    animation: drop 7s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line:nth-child(1) {
    margin-left: -25%;
}

.line:nth-child(1)::after {
    animation-delay: 2s;
}

.line:nth-child(3) {
    margin-left: 25%;
}

.line:nth-child(3)::after {
    animation-delay: 2.5s;
}

@keyframes drop {
    0% {
        top: -50%;
    }

    100% {
        top: 110%;
    }
}

/* NavBar*/

.customnav {
    display: flex;
    align-items: center;
}

.customnav ul {
    display: flex;
    list-style: none;
}

.navlink {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    font-family: inter;
    margin: 7px;
    color: var(--text-white);
    transition: all 300ms ease;
}

.navlink::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 50px;
    background-color: #0096c7;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
}

.navlink:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.navlink:hover {
    color: var(--text-grey);
    font-weight: 700;
    cursor: pointer;
}

/* Hero */

.index {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.hero h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: poppins;
    font-size: 4rem;
    position: absolute;
    top: -10%;
}

.hero h1:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px var(--light-blue);
}

.hero h1:nth-child(2) {
    color: var(--light-blue);
    animation: heroTitleAnimate 5.5s ease-in-out infinite;
}

@keyframes heroTitleAnimate {

    0%,
    100% {
        clip-path: polygon(0% 45%,
                16% 44%,
                33% 50%,
                54% 60%,
                70% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%);
    }

    50% {
        clip-path: polygon(0% 60%,
                15% 65%,
                34% 66%,
                51% 62%,
                67% 50%,
                84% 45%,
                100% 46%,
                100% 100%,
                0% 100%);
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 14px;
    font-family: inter;
    text-align: center;
    margin: 70px 0 10px 0;
}

.container .box {
    width: 150px;
}

.container .box .title {
    position: relative;
    height: 18px;
}

.container .box .title .block {
    width: 0%;
    height: inherit;
    background: #ffb510;
    position: absolute;
    animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    display: flex;
}

.container .box .title h2 {
    text-align: center;
    font-family: poppins;
    color: #fff;
    font-size: 15px;
    -webkit-animation: mainFadeIn 2s forwards;
    -o-animation: mainFadeIn 2s forwards;
    animation: mainFadeIn 2s forwards;
    animation-delay: 1.6s;
    opacity: 0;
}

@keyframes mainBlock {
    0% {
        width: 0%;
        left: 0;
    }

    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes mainFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Socials */

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
}

.social-link {
    color: #727272;
    display: inline-block;
    margin: 15px -5px;
    font-size: 20px;
    transition: all 500ms ease;
}

.social-link a {
    color: inherit;
}

.social-link a:hover {
    color: inherit;
    cursor: pointer;
}

.social-link:hover {
    color: var(--text-grey);
    scale: 105%;
}

/* Projects */

.projecttitle {
    margin: 3vh 0 0 10vh;
    font-size: 20px;
    font-family: poppins;
    color: var(--text-white);
}

.projecttitle p {
    margin: 10px 0 0 0;
    font-size: 14px;
    font-family: inter;
    color: var(--text-grey);
}

.project-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5vh;
}

.project-card-container h1 {
    font-family: poppins;
    color: var(--text-white);
    font-size: 25px;
    margin: 20px 0 30px 0;
}

.project-card_line {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    position: relative;
    z-index: 1;
}

.project-card {
    background: radial-gradient(circle farthest-corner at 10% 20%, rgb(81, 40, 92) 0%, rgba(4, 0, 4, 1) 90%);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05), 0px 8px 15px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.1);
    padding: 56px 16px 16px 16px;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    transition: box-shadow 0.25s;
    margin: 0 0 20px 0;
    width: 225px;
}

.project-card:nth-child(even) {
    background: linear-gradient(111.4deg, rgba(7, 7, 9, 1) 6.5%, rgb(23, 21, 82) 93.2%);
}

.project-card::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, .015);
}

.project-card .icon {
    z-index: 2;
    position: relative;
    display: table;
}

.project-card .icon img {
    border-radius: 50%;
}

.project-card .realicon img {
    margin: 0 0 8px 0;
}

.project-card .icon img,
.project-card .realicon img {
    position: relative;
    z-index: 1;
    display: block;
    width: 44px;
    height: 44px;
}

.project-card h4 {
    z-index: 2;
    position: relative;
    font-family: poppins;
    font-size: 18px;
    color: var(--text-white);
}

.project-card .desc {
    z-index: 2;
    position: relative;
    margin: 0 0 5px 0;
    font-size: 14px;
    font-family: inter;
    color: #a1a1aa;
}

.project-card .date {
    z-index: 2;
    position: relative;
    margin: 10px 0 5px 0;
    font-size: 11px;
    font-family: inter;
    color: var(--text-grey);
}

.project-card .shine {
    border-radius: inherit;
    position: absolute;
    inset: 0;
    z-index: 1;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s;
}

.project-card .shine:before {
    content: '';
    width: 150%;
    padding-bottom: 150%;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: 55%;
    filter: blur(35px);
    opacity: 0.3;
    transform: translateX(-50%);
    background-image: conic-gradient(from 205deg at 50% 50%, rgba(16, 185, 129, 0) 0deg, #00ffaa 25deg, rgba(52, 211, 153, 0.18) 295deg, rgba(16, 185, 129, 0) 360deg);
}

.project-card .background {
    border-radius: inherit;
    position: absolute;
    inset: 0;
    overflow: hidden;
    -webkit-mask-image: radial-gradient(circle at 60% 5%, black 0%, black 15%, transparent 60%);
    mask-image: radial-gradient(circle at 60% 5%, black 0%, black 15%, transparent 60%);
}

.project-card .background .tiles {
    opacity: 0;
    transition: opacity 0.25s;
}

.project-card .background .tiles .tile {
    position: absolute;
    background-color: rgba(16, 185, 129, 0.05);
    animation-duration: 8s;
    animation-iteration-count: infinite;
    opacity: 0;
}

.project-card .background .tiles .tile.tile-4,
.project-card .background .tiles .tile.tile-6,
.project-card .background .tiles .tile.tile-10 {
    animation-delay: -2s;
}

.project-card .background .tiles .tile.tile-3,
.project-card .background .tiles .tile.tile-5,
.project-card .background .tiles .tile.tile-8 {
    animation-delay: -4s;
}

.project-card .background .tiles .tile.tile-2,
.project-card .background .tiles .tile.tile-9 {
    animation-delay: -6s;
}

.project-card .background .tiles .tile.tile-1 {
    top: 0;
    left: 0;
    height: 10%;
    width: 22.5%;
}

.project-card .background .tiles .tile.tile-2 {
    top: 0;
    left: 22.5%;
    height: 10%;
    width: 27.5%;
}

.project-card .background .tiles .tile.tile-3 {
    top: 0;
    left: 50%;
    height: 10%;
    width: 27.5%;
}

.project-card .background .tiles .tile.tile-4 {
    top: 0;
    left: 77.5%;
    height: 10%;
    width: 22.5%;
}

.project-card .background .tiles .tile.tile-5 {
    top: 10%;
    left: 0;
    height: 22.5%;
    width: 22.5%;
}

.project-card .background .tiles .tile.tile-6 {
    top: 10%;
    left: 22.5%;
    height: 22.5%;
    width: 27.5%;
}

.project-card .background .tiles .tile.tile-7 {
    top: 10%;
    left: 50%;
    height: 22.5%;
    width: 27.5%;
}

.project-card .background .tiles .tile.tile-8 {
    top: 10%;
    left: 77.5%;
    height: 22.5%;
    width: 22.5%;
}

.project-card .background .tiles .tile.tile-9 {
    top: 32.5%;
    left: 50%;
    height: 22.5%;
    width: 27.5%;
}

.project-card .background .tiles .tile.tile-10 {
    top: 32.5%;
    left: 77.5%;
    height: 22.5%;
    width: 22.5%;
}

@keyframes tile {

    0%,
    12.5%,
    100% {
        opacity: 1;
    }

    25%,
    82.5% {
        opacity: 0;
    }
}

.project-card .background .line {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.35s;
}

.project-card .background .line:before,
.project-card .background .line:after {
    content: '';
    position: absolute;
    background-color: #2a2b2c;
    transition: transform 0.35s;
}

.project-card .background .line:before {
    left: 0;
    right: 0;
    height: 1px;
    transform-origin: 0 50%;
    transform: scaleX(0);
}

.project-card .background .line:after {
    top: 0;
    bottom: 0;
    width: 1px;
    transform-origin: 50% 0;
    transform: scaleY(0);
}

.project-card .background .line.line-1:before {
    top: 10%;
}

.project-card .background .line.line-1:after {
    left: 22.5%;
}

.project-card .background .line.line-1:before,
.project-card .background .line.line-1:after {
    transition-delay: 0.3s;
}

.project-card .background .line.line-2:before {
    top: 32.5%;
}

.project-card .background .line.line-2:after {
    left: 50%;
}

.project-card .background .line.line-2:before,
.project-card .background .line.line-2:after {
    transition-delay: 0.15s;
}

.project-card .background .line.line-3:before {
    top: 55%;
}

.project-card .background .line.line-3:after {
    right: 22.5%;
}

.project-card:hover {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.04), 0px 15px 25px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.2);
}

.project-card:hover .shine {
    opacity: 1;
    transition-duration: 0.5s;
    transition-delay: 0s;
}

.project-card:hover .background .tiles {
    opacity: 1;
    transition-delay: 0.25s;
}

.project-card:hover .background .tiles .tile {
    animation-name: tile;
}

.project-card:hover .background .line {
    opacity: 1;
    transition-duration: 0.15s;
}

.project-card:hover .background .line:before {
    transform: scaleX(1);
}

.project-card:hover .background .line:after {
    transform: scaleY(1);
}

.project-card:hover .background .line.line-1:before,
.project-card:hover .background .line.line-1:after {
    transition-delay: 0s;
}

.project-card:hover .background .line.line-2:before,
.project-card:hover .background .line.line-2:after {
    transition-delay: 0.15s;
}

.project-card:hover .background .line.line-3:before,
.project-card:hover .background .line.line-3:after {
    transition-delay: 0.3s;
}

/* Projects Slugs */

.slug {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slug h1 {
    color: var(--text-white);
    font-size: 25px;
    font-family: poppins;
}

.slug p {
    color: var(--text-grey);
    font-size: 15px;
    font-family: inter;
    margin: 10px 0 5vh;
}

.slug a {
    text-decoration: none;
    color: var(--text-white);
    font-size: 17px;
    font-family: poppins;
    transition: all 500ms ease;
    margin-bottom: 20px;
}

.slug a:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.slug-desc h1 {
    margin: 0 0 20px 0;
}

.slug-desc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: transparent;
    border: none;
    box-shadow: none;
}

.slug-desc {
    z-index: 999;
    margin-top: 5vh;
    width: 700px;
    margin-bottom: 10vh;
}

.auto-expand {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

.textare-auto {
    width: 100%;
    min-height: 100px;
    resize: none;
    line-height: 1.4;
    appearance: none;
    border: none;
    outline: none;
    border-bottom: 0.2em solid #e91e63;
    background: rgba(233, 30, 99, .2);
    border-radius: 5px 5px 0 0;
    padding: 0.4em;
    color: var(--text-white);
    font-family: inter;
    font-weight: 600;
}

.textare-auto::placeholder {
    color: var(--text-grey);
    font-weight: 400;
}

.copy {
    margin: 0 20px;
    box-sizing: border-box;
    width: 36px;
    height: 36px;
    border-radius: 10px;
    background-color: #353434;
    color: #CCCCCC;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
}

.tooltip {
    position: absolute;
    opacity: 0;
    visibility: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font: 12px Menlo, Roboto Mono, monospace;
    color: rgb(50, 50, 50);
    background: #f4f3f3;
    padding: 7px 7px;
    border-radius: 4px;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip::before {
    content: attr(data-text-initial);
}

.tooltip::after {
    content: "";
    position: absolute;
    bottom: calc(7px / 2 * -1);
    width: 7px;
    height: 7px;
    background: inherit;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    z-index: -999;
    pointer-events: none;
}

.copy svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.checkmark {
    display: none;
}

.copy:hover .tooltip,
.copy:focus:not(:focus-visible) .tooltip {
    opacity: 1;
    visibility: visible;
    top: calc((100% + var(--tooltip-offset)) * -1);
}

.copy:focus:not(:focus-visible) .tooltip::before {
    content: attr(data-text-end);
}

.copy:focus:not(:focus-visible) .clipboard {
    display: none;
}

.copy:focus:not(:focus-visible) .checkmark {
    display: block;
}

.copy:hover,
.copy:focus {
    background-color: #464646;
}

.copy:active {
    outline: 1px solid rgb(141, 141, 141);
}

.copy:hover svg {
    color: #8bb9fe;
}

/* About */

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.skills h1 {
    color: var(--text-white);
    font-size: 25px;
    font-family: poppins;
    text-align: center;
    margin: 30px 0;
}

.skills-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 25vh;
}

.skills-lang {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 10vh;
}

.skill {
    width: 180px;
    padding: 10px;
    background: radial-gradient(ellipse at bottom, #1a2a2e 0%, #172e3f 100%);
    margin: 10px;
    border-radius: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.skill img {
    margin: 0 10px 0 0;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease;
}

.skill p {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: var(--text-white);
    font-family: poppins;
    margin: 0 -50px 0 0;
}

.skill p span {
    font-size: 13px;
    font-family: inter;
}

.contact button {
    font-family: poppins;
    font-size: 16px;
    color: var(--text-white);
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    margin: 5vh 0 0 0;
}

.contact button:focus,
.contact button:hover {
    color: #fff;
}

.contact button:focus:after,
.contact button:hover:after {
    width: 100%;
    left: 0%;
}

.contact button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

/* Contact */

.contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10vh 0 0 0;
}

.contact-form-right {
    display: flex;
    flex-direction: column;
    background-color: #1a1a1a;
    padding: 10px 15px 20px 15px;
    border-radius: 8px;
}

.contact-form-right h1 {
    color: var(--text-white);
    font-family: poppins;
    font-size: 20px;
    margin: 0 0 10px 0;
    width: 35%;
    border-bottom: 2px solid #3498db;
}

.form {
    display: flex;
    flex-direction: column;
}

.form .input {
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 0;
}

.form .input label span {
    color: #f45702;
}

.form .input label .opt {
    color: var(--text-grey);
    font-size: 10px;
    font-style: normal;
    margin-left: 3px;
}

.form .input label {
    color: var(--text-grey);
    font-family: inter;
    font-size: 13px;
    font-weight: 500;
    margin: 0 0 5px 0;
}

.form .input input,
.form .input textarea {
    width: 300px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #1f1f1f;
    font-family: inter;
    color: var(--text-grey);
    font-size: 13px;
    font-weight: 500;
    background: #141414;
}

.form .input #name {
    width: 300px;
}

.form .input #email {
    width: 350px;
}

.form .input #captcha {
    width: 200px;
}

.form .input #name,
.form .input #email,
.form .input #captcha {
    height: 30px;
}

.form .input #content {
    width: 500px;
    min-height: 220px;
    resize: none;
}

.form .input input:focus,
.form .input textarea:focus {
    outline: none;
}

.form .return {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form .return .links a {
    color: var(--text-grey);
    margin: 0 5px;
    cursor: pointer;
}

.form .return .submit-button {
    box-sizing: border-box;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font: 600 16px Menlo, Roboto Mono, monospace;
    background: rgb(41, 41, 41);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
    overflow: hidden;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.137);
    transition: all 500ms ease;
}

.form .return .submit-button:hover {
    color: #FAC921;
}

.form .input .invalid {
    border-left: 3px solid #e63946;
}

.form .input .error-message {
    display: none;
    color: #e63946;
    margin-top: 5px;
    font-family: inter;
    font-size: 13px;
}

.form .input .character-count {
    font-size: 11px;
    margin-top: 5px;
}

.form .input .captcha {
    font-size: 11px;
    margin-left: 5px;
}

.button {
    display: inline-block;
    min-width: 110px;
    background: #13344d;
    color: #fefefe;
    font-size: 20px;
    font-family: inter;
    font-weight: 500;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    border: 0;
    transition: border-radius ease 50ms, width ease 50ms;
}

.button:focus {
    outline: 0;
}

.button.animate {
    width: 48.1818181818px;
    height: 48.1818181818px;
    min-width: 0;
    border-radius: 50%;
    color: transparent;
}

.button.animate:after {
    position: absolute;
    content: '';
    width: 25px;
    height: 25px;
    border: 4px solid #fefefe;
    border-radius: 50%;
    border-left-color: transparent;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    animation: spin ease-in 2.5s forwards;
    animation-name: spin;
    -webkit-animation-name: spin;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    animation-duration: 2.5s;
    -webkit-animation-duration: 2.5s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.button.animate.success:before {
    position: absolute;
    content: '';
    width: 25px;
    height: 12.5px;
    border: 4px solid #fefefe;
    border-right: 0;
    border-top: 0;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(0);
    transform: translate(-50%, -50%) rotate(0deg) scale(0);
    -webkit-animation: success ease-in 0.15s forwards;
    animation: success ease-in 0.15s forwards;
    animation-delay: 2.5s;
}

.button.animate.error {
    position: relative;
    -webkit-animation: vibrate ease-in 0.5s forwards;
    animation: vibrate ease-in 0.5s forwards;
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

.button.animate.error:before {
    color: #fff;
    position: absolute;
    content: '!';
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    -webkit-animation: error ease-in 0.5s forwards;
    animation: error ease-in 0.5s forwards;
    animation-delay: 2.5s;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) scale(1);
    }

    90% {
        transform: translate(-50%, -50%) rotate(1080deg) scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1);
    }

    98% {
        -webkit-transform: translate(-50%, -50%) rotate(1080deg) scale(1);
    }

    100% {
        -webkit-transform: translate(-50%, -50%) rotate(1080deg) scale(0);
    }
}

@keyframes success {
    from {
        transform: translate(-50%, -50%) rotate(0) scale(0);
    }

    to {
        transform: translate(-50%, -50%) rotate(-45deg) scale(1);
    }
}

@-webkit-keyframes success {
    from {
        -webkit-transform: translate(-50%, -50%) rotate(0) scale(0);
    }

    to {
        -webkit-transform: translate(-50%, -50%) rotate(-45deg) scale(1);
    }
}

@keyframes error {
    from {
        transform: translate(-50%, -50%) scale(0);
    }

    to {
        transform: translate(-50%, -50%) scale(1);
        background-color: #f44336;
    }
}

@-webkit-keyframes error {
    from {
        -webkit-transform: translate(-50%, -50%) scale(0);
    }

    to {
        -webkit-transform: translate(-50%, -50%) scale(1);
        background-color: #f44336;
    }
}

@keyframes vibrate {

    0%,
    30%,
    60%,
    85%,
    100% {
        left: 0;
        background-color: #f44336;
    }

    10%,
    40%,
    90%,
    70% {
        left: -2px;
        background-color: #f44336;
    }

    20%,
    50%,
    80%,
    95% {
        left: 2px;
        background-color: #f44336;
    }
}

/* Status */

.status {
    display: flex;
    flex-direction: column;
    margin: 10vh 10vh 10vh 35vh;
}

.status .online {
    background-color: #22c55e;
}

.status .minor {
    background-color: #eab308;
}

.status .offline {
    background-color: #ef4444;
}

.status .maintenance {
    background-color: #0077b6;
}

.status h1 {
    display: flex;
    align-items: center;
    color: var(--text-white);
    font-family: poppins;
    font-size: 30px;
}

.status h1 span {
    color: var(--primary-color);
    margin: 0 10px;
}

.status h1 i {
    font-size: 20px;
}

.status .legend {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5px;
}

.status .legend .dot {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    margin-right: 5px;
}

.status .legend span {
    color: var(--text-white);
    font-family: inter;
    margin-right: 10px;
    font-size: 13px;
}

.status .infra h6,
.status .websites h6 {
    color: var(--text-white);
    font-family: poppins;
    font-size: 20px;
    margin-top: 5vh;
}

.status .infra .infra-items,
.status .websites .webs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 0 0 0;
}

.status .infra .infra-item:first-child,
.status .websites .web:first-child {
    margin-left: 0;
}

.status .infra .infra-item,
.status .websites .web {
    color: var(--text-white);
    font-family: inter;
    font-size: 15px;
    padding: 0.5rem 1.5rem;
    border-radius: 3px;
}

.status .websites {
    margin-top: 10vh;
}

.status .rooting button {
    all: unset;
    color: var(--text-grey);
    margin: 5vh 5px 0 0;
    padding: 0.6rem;
    transition: all 500ms ease;
}

.status .rooting button:hover {
    cursor: pointer;
    color: var(--text-white);
    background-color: rgb(30 41 59/1);
    border-radius: 0.5rem;
}