@media only screen and (min-width: 1024px) {
    /*deskop*/
}

@media screen and (min-width: 767px) and (max-width:1023px) {
    /*tablet*/
}

@media screen and (max-width: 767px) {
    /*smartphone*/

    .bg img {
        all: unset;
    }

    .nav-menu .nav-link {
        font-size: 15px;
    }

    .nav-menu .nav-link:last-child {
        margin-right: 20px;
    }

    .nav-menu .home {
        font-size: 20px;
        margin-right: 0;
    }

    .hero {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        animation: none;
    }

    .hero-left {
        display: flex;
        align-items: left;
        flex-direction: column;
        margin: 20px 10px 0 20px;
    }

    .hero h1 {
        font-family: mont;
        color: var(--text-color);
        font-size: 40px;
        position: relative;
        top: 0%;
    }

    .hero h1:nth-child(1) {
        color: var(--text-color);
        -webkit-text-stroke: transparent;
    }

    .hero h1:nth-child(2) {
        display: none;
        color: var(--text-color);
        animation: none;
    }

    .joinbutton {
        padding: 10px 10px;
    }

    .hero-right {
        display: none;
    }

    /*Goals*/

    .goals {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 10vh 20px;
        animation: none;
    }

    .goals .goals-illust img {
        margin-top: 10px;
        width: 200px;
    }

    .goals .goal-item h6 {
        font-size: 16px;
    }

    .goals .goal-item .goal {
        font-size: 12px;
    }

    .goals .goal-item .jauge-container {
        width: 200px;
    }

    /* Footer */

    footer {
        margin: 5vh 0;
        padding: 20px;
    }

    .footer-right img {
        width: 75px;
    }

    .footer-right p {
        font-size: 11px;
        width: 200px;
    }

    .footer-right .socials i {
        font-size: 16px;
    }

    .footer-center {
        left: 6%;
        transform: none;
        margin-bottom: -20px;
    }

    .footer-center p {
        font-size: 8px;
    }

    .footer-left .footer-rooter h6 {
        font-size: 14px;
    }

    .footer-left .footer-roots {
        margin: 5px 0 0 0;
    }

    .footer-left .footer-roots a {
        font-size: 12px;
    }
}