@media only screen and (min-width: 1024px) {
    /*deskop*/
}

@media screen and (min-width: 767px) and (max-width:1023px) {
    /*tablet*/

    .projects {
        padding: 0 10px 0 10px;
    }
}

@media screen and (max-width: 767px) {
    /*smartphone*/

    .bg img {
        all: unset;
    }

    .separator {
        width: 100%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.2);
        margin: 10px 0 10px 0;
    }

    .returnhome {
        width: 20px;
    }

    .container .box .title h2 {
        font-size: 14px;
    }

    .projecttitle {
        margin-left: 1vh;
    }

    .project-card {
        background: radial-gradient(circle farthest-corner at 10% 20%, rgb(81, 40, 92) 0%, rgba(4, 0, 4, 1) 90%);
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05), 0px 8px 15px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.1);
        padding: 40px 10px 10px 10px;
        width: 170px;
    }

    .project-card-container {
        margin-bottom: 5vh;
    }

    .project-card-container h1 {
        font-size: 20px;
        margin: 10px 0 20px 0;
    }

    .project-card_line {
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 0 30px 0;
    }

    .project-card .icon img,
    .project-card .realicon img {
        width: 34px;
        height: 34px;
    }

    .project-card_content {
        padding: 10px 0 0 10px;
    }

    .project-card_title {
        font-size: 18px;
    }

    .project-card_desc {
        font-size: 13px;
        margin-bottom: 20px;
    }

    .project-card_date {
        font-size: 11px;
    }

    .slug-desc {
        z-index: 999;
        margin-top: 5vh;
        width: auto;
        margin-bottom: 10vh;
    }

    .auto-expand {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 0;
    }

    .textare-auto {
        width: 250px;
    }

    /* About */

    .about {
        margin-bottom: 50px;
    }

    .skills-list,
    .skills-lang {
        padding: 0 10px;
    }

    .skill {
        width: 140px;
        padding: 7px;
        margin: 7px;
        font-size: 16px;
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .skill img {
        margin: 0 5px 0 0;
        width: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.8s ease;
    }

    /* Status */

    .status {
        margin: 10vh 10px 10vh 10px;
    }

    /* Contact */

    .form .input label .opt {
        font-size: 8px;
    }

    .form .input label {
        font-size: 11px;
    }

    .form .input input,
    .form .input textarea {
        font-size: 11px;
    }

    .form .input #name {
        width: 200px;
    }

    .form .input #email {
        width: 220px;
    }

    .form .input #captcha {
        width: 100px;
    }

    .form .input #content {
        width: 300px;
        min-height: 250px;
    }

    .form .input .error-message {
        font-size: 11px;
    }

    .form .input .character-count,
    .form .input .captcha {
        font-size: 8px;
    }
}