.row {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.container svg {
    width: 100%;
    margin: 0 50vh 0 -20px;
}

.container h1 {
    font-size: 30px;
    font-family: poppins;
    color: var(--text-color);
}

.container p {
    font-size: 15px;
    font-family: inter;
    color: var(--text-grey);
}

.container button {
    border: none;
    background: none;
    color: var(--text-color);
    font-size: 15px;
    font-family: poppins;
    cursor: pointer;
}

.container .cat-return {
    background: transparent;
    margin: 20px 20px 0 0;
    padding: 5px 15px;
    border: 2px solid #8a817c;
    border-radius: 8px;
    transition: all 500ms ease;
}

.container .cat-return:hover {
    background-color: #926b6c;
    border: 2px solid #926b6c;
}

@media screen and (max-width: 767px) {
    .row {
        flex-direction: column;
    }

    svg {
        margin: 0 0 0 -20px;
    }
}